.wrapper-header-dashboard {
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    align-items: center;
    justify-items: center;
}

.wrapper-body-dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    color: white;
    text-align: left;
    margin-top: 20px;
}

.Title-Dashboard {
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.button-logout {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #2f2f2f;
    color: white;
    font-weight: bold;
    border-style: none;
}

.button-logout:hover {
    background-color: #464646;
}

#select-language {
    width: 70px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color:  #2f2f2f;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

#select-character {
    font-size: 16px;
    text-align: center;
    color: white;
    background-color:  #2f2f2f;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

#select-language:hover {
    background-color: #464646;
}

.charSelect {
    color: #fed296;
    border: 3px;
}

.ls-2 {
    width: 150px;
    height: 60px;
    border-radius: 40px;
    z-index: 1;
    background-color: #eb8042;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.ls-2:hover {
    background-color: #f1ae09;
}

#cac-bloc {
}